= form_tag('/search', method: :get) do
  %fieldset.form-group
    = label_tag(:name, 'Search for user')
    = text_field_tag(:name, nil, class: 'form-control', placeholder: 'Enter GitHub user name')
  = submit_tag('Search', class: 'btn btn-primary')
